@model raupjc_projekt.Models.AlbumViewModels.AlbumViewModel
<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<br/>
<a class="btn btn-primary" href='@Url.Action("AddPhoto", "Album", new {id = @Model.Id})' role="button">Add new photo to album</a>
<a class="btn btn-primary" href="/Album/Index" role="button">Back</a>
<div class="w3-container">
    <h1>@Model.Name</h1>
</div>


@foreach (Photo photo in Model.Photos)
{
    <div class="w3-third">
        &nbsp;
        <div class="w3-card">
            <a href="@Url.Content(photo.URL)" target="_blank">
                <img src="@Url.Content(photo.URL)" height="210" style="width: 100%">
            </a>
            <div class="w3-container">
                <br/>
                <a class="btn btn-primary" href='@Url.Action("LikePhoto", "Album", new {id = photo.Id})' role="button">Like</a>&nbsp;&nbsp;
                <a class="btn btn-primary" href='@Url.Action("Favorite", "Favorites", new {id = photo.Id})' role="button">Favorite</a>&nbsp;&nbsp;
                <a class="btn btn-primary" href='@Url.Action("CommentOnPhoto", "Album", new {id = photo.Id})'role="button">Comment</a>&nbsp;&nbsp;
                <br/>
                <b>Number of likes : @photo.NumberOfLikes</b>
                <br/>
                <a class="btn btn-primary" href='@Url.Action("DeletePhoto", "Album", new {id = photo.Id, albumId = @Model.Id})' role="button">Delete photo</a>
            </div>
            &nbsp;
        </div>
        &nbsp;
    </div>
}
<br><br/>
</body>
</html>
