@model raupjc_projekt.Models.AlbumViewModels.AlbumViewModel
<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<a asp-controller="Album" asp-action="AddPhoto" asp-route-id="@Model.Id"><b>Add new photo to album</b></a>
<a class="btn btn-primary" href="/Album/Index" role="button">Back</a>
<div class="w3-container">
    <h1>@Model.Name</h1>
</div>
    

@foreach (Photo photo in Model.Photos)
{
    <div class="w3-third">
        &nbsp;
        <div class="w3-card">
            <a href="@Url.Content(photo.URL)" target="_blank">
            <img src="@Url.Content(photo.URL)" height="210" style="width: 100%">
                </a>
                <div class="w3-container">
                    <p>Like Favorite Comment</p>
                    <input type="button" title="Like" value="Like" onclick="location.href='@Url.Action("LikePhoto", "Album", new { id = photo.Id })'" />&nbsp;&nbsp;
                    <input type="button" title="Favorite" value="Favorite" onclick="location.href='@Url.Action("Favorite", "Favorites", new { id = photo.Id })'" />&nbsp;&nbsp;
                    <input type="button" title="View comments" value="View comments" onclick="location.href='@Url.Action("CommentOnPhoto", "Album", new { id = photo.Id })'" />&nbsp;&nbsp;
                    <br/>
                    <b>Number of likes : @photo.NumberOfLikes</b>
                    <br />
                    <a asp-controller="Album" asp-action="DeletePhoto" asp-route-id="@photo.Id" asp-route-albumId="@Model.Id"><b>Delete photo</b></a>
                </div>
                &nbsp;
</div>
        &nbsp;
    </div>
}
<br><br/>
</body>
</html>
