@model raupjc_projekt.Models.AlbumViewModels.IndexViewModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>My albums</h2>
<h5>Click on thumbnail image to open album</h5>


<a class="btn btn-primary" href='@Url.Action("Add", "Album")' role="button">Add new album</a>&nbsp;&nbsp;
<br><br/>
<div>
        @foreach (var album in Model.Albums)
        {
           
            <a href="@Url.Action("ShowAlbumPhotos","Album",@album)">
            <img src="@Url.Content(album.ThumbnailImage)" alt="Thumbnail" height="100" width="150" />
            </a>
                <br />
                <b>@album.Name</b>
                <br />
                <t>Created on: @album.DateCreated</t>
            <br />
            <a class="btn btn-primary" href='@Url.Action("Rename", "Album", new {id = album.Id})' role="button">Rename album</a>
            <a class="btn btn-primary" href='@Url.Action("Delete", "Album", new {id = album.Id})' role="button">Delete album</a>
                <br><br />

                }
</div>
