@model raupjc_projekt.Models.AlbumViewModels.AlbumViewModel
<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<div class="w3-container">
    <h1>Album @Model.Name</h1>
    <a class="btn btn-primary" href='@Url.Action("SubscribeToUser", "Explore", new { ownerId = Model.Owner.Id })' role="button">Subscribe</a>
    <b>to @Model.Owner.Username</b>
    <br/><br/>
    <a class="btn btn-primary" href="/Explore/Index" role="button">Back</a>
</div>
    

@foreach (Photo photo in Model.Photos)
{
    <div class="w3-third">
        &nbsp;
        <div class="w3-card">
            <a href="@Url.Content(photo.URL)" target="_blank">
                <img src="@Url.Content(photo.URL)" height="210" style="width: 100%">
            </a>
            <div class="w3-container">
                <p>Like Favorite Comment</p>
                <a class="btn btn-primary" href='@Url.Action("LikePhoto", "Album", new {id = photo.Id})' role="button">Like</a>&nbsp;&nbsp;
                <a class="btn btn-primary" href='@Url.Action("Favorite", "Favorites", new {id = photo.Id})' role="button">Favorite</a>&nbsp;&nbsp;
                <a class="btn btn-primary" href='@Url.Action("CommentOnPhoto", "Album", new {id = photo.Id})'role="button">Comment</a>&nbsp;&nbsp;
                <br />
                <b>Number of likes : @photo.NumberOfLikes</b>
                <br />
            </div>
            &nbsp;
        </div>
        &nbsp;
    </div>
}
<br><br/>
</body>
</html>
